.nav {
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 2px solid rgb(128, 124, 124);
}

.nav img {
  width: 9rem;
}

.navin {
  width: 37rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.main {
  height: 37rem;
  background-image: url("./background.png");
  background-size: 27rem;
  background-position-y: 1rem;
  background-position-x: 55rem;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  position: relative;
}
.main svg {
  margin-top: 10rem;
  position: absolute;
  width: 100%;
  z-index: 0;
  margin-bottom: 4rem;
}

.mainin {
  width: 30rem;
  height: 21rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 11rem;
  z-index: 1;
}
.mainin h2 {
  font-weight: bold;
}
.mainin button {
  width: 12rem;
  height: 3rem;
  border-radius: 5rem;
}

.a {
  height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.ain {
  width: 60rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}

.card {
  height: 17rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.pic {
  height: 37rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.picin {
  width: 50rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cardpic {
  height: 25rem;
  border: white;
}

.card-bodypic {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-evenly;
  width: 20rem;
  height: 22rem;
}
.card-bodypic h6 {
  margin-top: 2rem;
}

.picit {
  height: 8rem;
  width: 9rem;
}

.card-textpic {
  width: 16rem;
}

.long {
  height: 58rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.long h2 {
  margin-bottom: 4rem;
}

.long1 {
  width: 100%;
  margin-top: 1rem;
}

.long2 {
  width: 100%;
  margin-top: 1rem;
  align-items: right;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 8rem;
}

.longin {
  width: 35rem;
  margin-left: 11rem;
}
.longin button {
  width: 12rem;
  height: 3rem;
  border-radius: 5rem;
  margin-top: 1rem;
}

.longinin {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}
.longinin h6 {
  margin-left: 2rem;
}
.longinin img {
  height: 3rem;
  width: 3rem;
}

.small {
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 3rem;
}
.small img {
  height: 4.5rem;
  width: 4rem;
}

#small1 {
  height: 5rem;
  width: 6.4rem;
}

#small2 {
  height: 5rem;
  width: 6.4rem;
}

.smallin {
  width: 60rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.small1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}

.black {
  height: 20rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.black span {
  color: white;
  font-weight: 650;
  margin-bottom: 3rem;
}

.slide {
  height: 39rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.slidein {
  font-size: 1.3rem;
  font-weight: 700;
  height: 17rem;
  width: 60rem;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 1px 1px 1.3rem;
  position: relative;
  z-index: 0;
}
.slidein img {
  height: 3rem;
  width: 3rem;
}

.slide2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 56rem;
  margin-left: 6rem;
  margin-top: 18rem;
  z-index: 1;
  position: absolute;
}

.man1 {
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 15rem;
  height: 14rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding: 0.5rem;
  margin-left: 2rem;
  box-shadow: 1px 1px 0.3rem;
  background-color: white;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 14rem;
}

.namestar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
}
.namestar span {
  font-weight: 700;
}

.introin span {
  font-size: 0.7rem;
}

.post {
  margin-bottom: 15px;
  font-weight: 500;
  color: rgb(139, 136, 136);
}

.star img {
  height: 0.7rem;
  width: 0.7rem;
}

.detail {
  font-size: 0.7rem;
  font-weight: 500;
}

#arrow {
  height: 3rem;
  width: 4rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  margin-left: 3rem;
  box-shadow: 0.8px 0.8px 0.3rem;
  background-color: white;
  font-weight: 1000;
  color: rgb(139, 136, 136);
}

@media (max-width: 700px) {
  .nav {
    width: 68rem;
    font-size: 1.5rem;
    height: 18rem;
  }
  .nav .navin {
    width: 45rem;
  }
  .main {
    width: 70rem;
    background-position-y: -3rem;
    background-position-x: 47rem;
    font-size: large;
  }
  .main .h2 {
    font-size: 1.7rem;
  }
  .mainin {
    width: 30rem;
  }
  .mainin h2 {
    font-size: 2rem;
  }
  .mainin span {
    font-size: 1.4rem;
  }
  .mainin button {
    font-size: 1.5rem;
  }
  .a {
    width: 68rem;
    height: 65rem;
  }
  .a .ain {
    flex-direction: column;
    margin-top: 3rem;
  }
  .a .ain .card {
    margin-top: 2rem;
    height: 20rem;
    width: 15rem;
    font-size: 1.2rem;
  }
  .a .ain .card .card-title {
    font-size: 1.7rem;
  }
  .a h2 {
    font-size: 2.3rem;
  }
  .pic {
    width: 68rem;
    height: 55rem;
  }
  .pic .cardpic {
    height: 20rem;
    font-size: 1.2rem;
  }
  .pic .cardpic h6 {
    font-size: 1.5rem;
  }
  .pic h2 {
    font-size: 2rem;
  }
  .long {
    width: 68rem;
    height: 75rem;
  }
  .long h2 {
    font-size: 2rem;
  }
  .long .longin {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  .long .longin button {
    font-size: 1.5rem;
  }
  .long .longin .longinin h6 {
    font-size: 2rem;
  }
  .slide {
    width: 68rem;
    height: 60rem;
  }
  .slide h2 {
    font-size: 3rem;
  }
  .slide .slide2 {
    width: 65rem;
  }
  .slide .slide2 .man1 {
    border-radius: 3rem;
    margin-top: 17rem;
    width: 20rem;
    height: 22rem;
  }
  .slide .slide2 .man1 {
    width: 25rem;
  }
  .slide .slide2 .man1 .detail {
    margin-top: 1rem;
    font-size: 1.1rem;
  }
  .slide .slide2 .man1 .intro .introin .namestar span {
    font-size: 1.4rem;
  }
  .small {
    width: 68rem;
    height: 40rem;
  }
  .small h2 {
    font-size: 2.3rem;
  }
  .small1 {
    font-size: 1.7rem;
  }
  .black {
    width: 70rem;
  }
  .black span{
    margin-bottom: 2px;
  }
}/*# sourceMappingURL=style.css.map */